@CHARSET "utf-8";
body, html{
	height: 100%;
	overflow: auto;
	background-color: #D6EBFF
}

div.center{
	border:2px solid #5C85FF; 
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 20px;
	box-shadow: 2px 2px 2px #888888;
	padding:20px;
	background-color: #FFF;
}

a{
	outline: 0;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../img/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

span#top{
	position: fixed;
	top: 0;
	left: 60%;
	z-index: 999;
	width: 100%;
	height: 23px;
	background-color: #D6EBFF;
}

span#idiom{
	position: fixed;
	top: 0.5;
	left: 17%;
	z-index: 999;
	height: 23px;
}

*:focus{
    outline: none;
}

.top{
	margin-right: 25px;
}

fieldset{
	border:none;
	margin-top:5px;
}

.title{
	top:-15px; 
	left:5%; 
	position: absolute; 
	background-color: #5C85FF;
	color: #FFF;
	padding:5px;
	font-size: 14px;
}

.subtitle{
	top:-21px; 
	position: absolute; 
	color: #FFF;
	padding:5px;
	font-size: 14px;
}

#reload{
	top:-15px; 
	position: absolute; 
	color: #FFF;
	padding:5px;
	font-size: 14px;
	right: 3%;
}

fieldset input[type="email"], fieldset input[type="password"],
fieldset input[type="text"]{
	width:200px;
}

#edit-s{
	float:right;
	margin-right:10px;
}

a#remem{
	float:right;
	margin-right:15px;
	font-size:10px;
}

.but{
	font-size:10px;
	margin-left:10px;
	float:left;
	margin-top:5px;
}

.log-i{
   	float: left;
    width: 150px;
	margin-left:10px;
}

table.project{
	border-collapse: collapse;
}

tr.row > td{
	padding-bottom: 1em;
}

th{
	color: #5C85FF;
	border-bottom: 1px solid #000;
}

tr.alt{
	background-color: #ecd2d1;  
}

.delete{
	background-color: #FFF; 
	border-bottom: none; 
}

caption {
    caption-side: bottom;
    font-size: 10px;
}

span.campo{
	display: block;
}
